<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Chat App</title>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script src="./js/test.js" ></script>
</head>
<body>
    <h1>My Chat App</h1>
    <form>
        <input type="text" class="sync" id="name" value="{{name}}">
        <input type="text" class="sync" id="channel" value="{{value}}">
    </form>
</body>
</html>