{% extends "base.html" %}

{% block content %}
<h1 id="title" value="{{pageId}}">Modification of {{name}}</h1>
<script src="../../js/sheet.js"></script>
<form>
    <input type="text" class="sync" id="name" value="aa">
    <input type="text" class="sync" id="age" value="00">
    <select class="sync" id="type">
        <option value="great" {% if type == 0 %}selected{% endif %}>Great</option>
        <option value="good" {% if type == 1 %}selected{% endif %}>Good</option>
        <option value="neutral" {% if type == 2 %}selected{% endif %}>Neutral</option>
        <option value="bad" {% if type == 3 %}selected{% endif %}>Bad</option>
        <option value="evil" {% if type == 4 %}selected{% endif %}>Evil</option>
    </select>
</form>
{% endblock %}